body {
  margin: 0;
  background-color: #f0f0f7;

  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: capitalize;
}

code {
  font-family: "Source Sans Pro",
    monospace;
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  width: inherit;
  height: inherit;
  color: inherit;
}